@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --primary: #1300FD;
  --filterPrimary: invert(8%) sepia(100%) saturate(7168%) hue-rotate(251deg) brightness(97%) contrast(130%);
  --filterWhite: invert(99%) sepia(0%) saturate(4787%) hue-rotate(41deg) brightness(127%) contrast(96%);
}

* {
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

*::-moz-selection {
  background-color: var(--primary);
  color: #fff;
}

*::selection {
  background-color: var(--primary);
  color: #fff;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background-color: #eee;
}

*::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 8px;
}

body {
  direction: ltr;
  overflow-x: hidden;
}

div::-webkit-scrollbar,
ul::-webkit-scrollbar,
nav::-webkit-scrollbar {
  height: 5px;
}

/**********************************************
   Start Global Style
**********************************************/
.color-gray {
  color: #ccc;
}

.color-gray2 {
  color: #888;
}

.color-dark {
  color: #1B2021;
}

.color-primary {
  color: var(--primary);
}

.filterPrimary {
  -webkit-filter: var(--filterPrimary);
          filter: var(--filterPrimary);
}

.filterWhite {
  -webkit-filter: var(--filterWhite);
          filter: var(--filterWhite);
}

p,
.p {
  font-size: 15px;
  color: #555;
  line-height: 1.7rem;
  margin-bottom: 0;
}

a {
  color: #000;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-decoration: none !important;
}

a:hover {
  color: var(--primary) !important;
}

a:focus {
  outline: 0;
}

del,
.del {
  text-decoration: line-through;
  color: #888;
  font-size: 80%;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  border: none;
  padding: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  background-color: transparent;
}

button:focus {
  border: none;
  -webkit-box-shadow: transparent;
          box-shadow: transparent;
  outline: 0;
}

button:active,
button:active:focus,
button:active:hover,
button:focus,
button:hover,
button:not(:disabled):not(.disabled).active,
button:not(:disabled):not(.disabled):active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

form .form-group {
  position: relative;
}

form .form-control {
  font-size: 14px;
}

form .form-control:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1px solid var(--primary) !important;
}

form input,
form select {
  height: 60px !important;
}

form .form-check-input:checked {
  background-color: var(--primary);
  border-color: var(--primary);
  -webkit-box-shadow: none;
          box-shadow: none;
}

form textarea {
  resize: none;
}

form .form-check-input {
  height: 1em !important;
}

.progress-wrap {
  position: fixed;
  inset-inline-end: 15px;
  bottom: 15px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 0 2px rgba(51, 51, 51, 0.2);
          box-shadow: inset 0 0 0 2px rgba(51, 51, 51, 0.2);
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
  z-index: 99;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap::after {
  background: url(../images/icons/top-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: var(--primary);
  left: 10.5px;
  top: 10.5px;
  height: 25px;
  width: 25px;
  display: block;
  -webkit-filter: var(--filterPrimary);
          filter: var(--filterPrimary);
}

.progress-wrap svg path {
  fill: #f8f8f8;
}

.progress-wrap svg.progress-circle path {
  stroke: var(--primary);
  stroke-width: 4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container,
.container-fluid,
.zi-5 {
  position: relative;
  z-index: 5;
}

.secImg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-end {
  text-align: end;
}

.overflow_hidden {
  overflow: hidden !important;
}

.bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.position-unset {
  position: unset;
}

.underline {
  text-decoration: underline !important;
}

.trans_3 {
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

/**********************************************
   Start Loader
**********************************************/
#preloader {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 9999999;
  pointer-events: none;
  /*----------- upload loader ------------*/
}

#preloader::after, #preloader::before {
  content: "";
  position: fixed;
  left: 0;
  height: 50%;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#0d1a36), color-stop(#132650), to(#0a152e));
  background: linear-gradient(to right, #0d1a36, #132650, #0a152e);
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

#preloader::before {
  top: 0;
}

#preloader::after {
  bottom: 0;
}

#preloader .logo_img {
  width: 300px;
  max-width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 20;
  opacity: 0.5;
}

#preloader #loading-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #0005;
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#preloader #loading-wrapper.show {
  display: block;
}

#preloader #loading-wrapper #loading-text {
  display: block;
  position: absolute;
  top: calc(50% - 38px);
  left: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  margin: -7px 0 0 -45px;
  text-align: center;
  font-size: 20px;
}

#preloader #loading-wrapper img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
  object-fit: contain;
}

#preloader #loading-wrapper #loading-content {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  margin: -85px 0 0 -85px;
  border: 3px solid #F00;
}

#preloader #loading-wrapper #loading-content::after {
  content: "";
  position: absolute;
  border: 3px solid #0F0;
  left: 15px;
  right: 15px;
  top: 15px;
  bottom: 15px;
}

#preloader #loading-wrapper #loading-content::before {
  content: "";
  position: absolute;
  border: 3px solid #00F;
  left: 5px;
  right: 5px;
  top: 5px;
  bottom: 5px;
}

#preloader #loading-wrapper #loading-content {
  border: 3px solid transparent;
  border-top-color: #3659A3;
  border-bottom-color: #3659A3;
  border-radius: 50%;
  -webkit-animation: loader 2s linear infinite;
  animation: loader 2s linear infinite;
}

#preloader #loading-wrapper #loading-content::before {
  border: 3px solid transparent;
  border-top-color: #0aafde;
  border-bottom-color: #0aafde;
  border-radius: 50%;
  -webkit-animation: loader 3s linear infinite;
  animation: loader 3s linear infinite;
}

#preloader #loading-wrapper #loading-content::after {
  border: 3px solid transparent;
  border-top-color: #E33F74;
  border-bottom-color: #E33F74;
  border-radius: 50%;
  -webkit-animation: loader 1.5s linear infinite;
  animation: loader 1.5s linear infinite;
  -moz-animation: loader 2s linear infinite;
  -o-animation: loader 2s linear infinite;
}

#preloader.isdone {
  visibility: hidden;
  -webkit-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

#preloader.isdone #loading-wrapper {
  opacity: 0;
  -webkit-transform: scale(3);
  transform: scale(3);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

#preloader.isdone::after, #preloader.isdone::before {
  height: 0;
  -webkit-transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  transition: all 0.7s cubic-bezier(1, 0, 0.55, 1);
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}

#preloader #content-wrapper {
  color: #FFF;
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: 100%;
}

#preloader #header {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  height: 100px;
  background-color: #666;
}

#preloader #content {
  width: 800px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  background-color: #888;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ====================== [ Start mouse-cursor ] ====================== */
.swiper-wrapper.curs-scroll {
  cursor: none;
}

.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
}

.cursor-inner {
  margin-left: -2px;
  margin-top: -2px;
  width: 5px;
  height: 5px;
  z-index: 10000001;
  background-color: #fff;
  border: 1px solid #fff;
  -webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
  transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, opacity .3s ease-in-out;
  opacity: 0;
}

.cursor-inner.cursor-hover {
  opacity: 1;
}

.cursor-outer {
  margin-left: -17px;
  margin-top: -17px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .5;
  z-index: 10000000;
  -webkit-transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, background-color .3s, opacity .3s;
  transition: width .3s ease-in-out, height .3s ease-in-out, margin .3s ease-in-out, background-color .3s, opacity .3s;
  opacity: 1;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  background: #fff5;
  border: 1px solid #fff;
  height: 25px;
  width: 25px;
  opacity: 0.3;
  -webkit-box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 5px;
          box-shadow: rgba(255, 255, 255, 0) 0px 0px 0px 5px;
}

.cursor-outer.cursor-hover {
  opacity: 1;
  margin-left: -25px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background-color: #fff !important;
  border: 1px solid #fff;
  opacity: .3 !important;
}

.cursor-outer.cursor-scroll {
  margin-left: -35px;
  margin-top: -35px;
  width: 70px;
  height: 70px;
  border-color: transparent;
  background-color: #fff;
  opacity: 1;
}

/**********************************************
   Start Animations
**********************************************/
@-webkit-keyframes floating-y {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}
@keyframes floating-y {
  0% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
}

@-webkit-keyframes floatingX {
  0% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

@keyframes floatingX {
  0% {
    -webkit-transform: translateX(2px);
            transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}

.slide_ltr {
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.slide_ltr.animated {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slide_ltr.no_scale {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slide_rtl {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
  -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
          clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.slide_rtl.animated {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.slide_rtl.no_scale {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes puff-in {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes puff-in {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.puff-in {
  -webkit-animation: puff-in 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
          animation: puff-in 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: text-focus-in 0.8s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/**********************************************
    Start Public Classes
**********************************************/
.section {
  position: relative;
  padding: 70px 0;
  overflow: hidden;
}

.swiper-container .swiper-pagination {
  bottom: 0;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 25px;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  background-image: unset;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-image: unset;
  background-color: #f5f5f5;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.swiper-container .swiper-button-next::before,
.swiper-container .swiper-button-prev::before {
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 15px;
  color: var(--secondary);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.swiper-container .swiper-button-next:hover,
.swiper-container .swiper-button-prev:hover {
  background-color: var(--primary);
  opacity: 1;
}

.swiper-container .swiper-button-next:hover::before,
.swiper-container .swiper-button-prev:hover::before {
  color: #fff;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-container-rtl .swiper-button-prev {
  right: 2%;
  left: auto;
}

.swiper-container .swiper-button-next::before,
.swiper-container .swiper-container-rtl .swiper-button-prev::before {
  content: '\f0da';
}

.swiper-container .swiper-button-prev,
.swiper-container .swiper-container-rtl .swiper-button-next {
  left: 2%;
  right: auto;
}

.swiper-container .swiper-button-prev::before,
.swiper-container .swiper-container-rtl .swiper-button-next::before {
  content: '\f0d9';
}

.butn {
  position: relative;
  padding: .6rem 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 14px;
  border: 1px solid transparent;
  font-weight: bold;
  border-radius: 25px;
}

.butn i {
  -webkit-margin-end: 7px;
          margin-inline-end: 7px;
}

.butn.sm_butn {
  padding: 0;
  width: 50px;
  height: 50px;
}

.butn.primary_butn {
  background-color: var(--primary);
  color: #fff;
}

.butn.primary_border_butn {
  border: 1px solid var(--primary);
  color: var(--primary);
  background-color: transparent;
}

.butn.secondary_butn {
  background-color: var(--secondary);
  color: #fff;
}

.butn.secondary_border_butn {
  border: 1px solid var(--secondary);
  color: var(--secondary);
  background-color: transparent;
}

.butn.white_butn {
  background-color: #fff;
  color: #333;
}

.butn.white_border_butn {
  background-color: #fff;
  border: 1px solid #D6D3D3;
}

.butn:hover {
  background-color: #202020;
  border: 1px solid #202020;
  color: #fff !important;
}

.butn:hover .icon {
  -webkit-filter: var(--filterWhite);
          filter: var(--filterWhite);
}

.icon18 {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
}

.icon15 {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

/**********************************************
   Start Edit Navbar & Footer
**********************************************/
.navs-container .navbar {
  padding: 1rem;
}

.navs-container .navbar .logo {
  width: 220px;
  -o-object-fit: contain;
     object-fit: contain;
}

.navs-container .navbar .nav-link {
  text-transform: capitalize;
  margin: 0 10px;
  font-size: 16px;
  color: #202020;
  position: relative;
  text-align: center;
  padding-inline: 0;
}

.navs-container .navbar .nav-link::after {
  content: '\f111';
  font-family: "Font Awesome 6 Pro";
  font-weight: 900;
  display: inline-block;
  color: #555;
  font-size: 2px;
  -webkit-margin-start: 20px;
          margin-inline-start: 20px;
}

.navs-container .navbar .nav-link.active {
  color: var(--primary);
  font-weight: 500;
}

.navs-container .navbar .nav-item:last-child .nav-link::after {
  display: none;
}

.navs-container .navbar .nav_end .lang_butn {
  text-transform: uppercase;
  font-size: 16px;
}

.navs-container .navbar .nav_end .primary_butn {
  min-width: 130px;
  font-size: 16px;
}

.navs-container .navbar .nav_end .dropdown-menu {
  text-align: center;
  border-radius: 25px;
  border-color: transparent;
  -webkit-box-shadow: 0px 0px 15px 0 #0001;
          box-shadow: 0px 0px 15px 0 #0001;
  font-size: 15px;
}

.navs-container .navbar .nav_end .dropdown-menu .dropdown-item {
  padding: 0.5rem 1rem;
}

.navs-container .navbar .navbar-toggler {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: rgba(221, 221, 221, 0.3);
  border: none;
  position: relative;
}

.navs-container .navbar .navbar-toggler.active .navbar-toggler-icon {
  -webkit-box-shadow: 0px 0px 0px grey;
          box-shadow: 0px 0px 0px grey;
  background: rgba(0, 0, 0, 0);
}

.navs-container .navbar .navbar-toggler.active .navbar-toggler-icon::before {
  top: 0px !important;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navs-container .navbar .navbar-toggler.active .navbar-toggler-icon::after {
  top: 0px !important;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navs-container .navbar .navbar-toggler .navbar-toggler-icon {
  width: 25px;
  height: 2px;
  background: var(--primary);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navs-container .navbar .navbar-toggler .navbar-toggler-icon::after, .navs-container .navbar .navbar-toggler .navbar-toggler-icon::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: var(--primary);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navs-container .navbar .navbar-toggler .navbar-toggler-icon::after {
  top: -6px;
  right: 0px;
}

.navs-container .navbar .navbar-toggler .navbar-toggler-icon::before {
  top: 6px;
  right: 0px;
}

.footer {
  background-color: #dfe7ff;
}

.footer .foot_top {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #c5d2ff;
}

.footer .foot_top .logo {
  width: 220px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer .foot_top .social_links a {
  width: 30px;
  height: 30px;
  background-color: #59aae7;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
}

.footer .foot_top .social_links a:hover {
  background-color: var(--primary);
  color: #fff !important;
}

.footer .content .office_data h5 {
  font-weight: 400;
}

.footer .content .office_data .p {
  color: #290B66;
  margin-bottom: 7px;
}

.footer .content .title {
  text-transform: capitalize;
  color: #09132a;
  font-weight: 400;
}

.footer .content .links a {
  display: block;
  margin: 15px 0;
  text-transform: capitalize;
}

.footer .content .logos .part_logo {
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 5px;
}

.footer .foot {
  margin-top: 25px;
  padding: 20px 0;
  border-top: 1px solid  #c5d2ff;
}

.footer .foot a {
  color: var(--primary);
}

/**********************************************
    Start Edit Home Page 
**********************************************/
.header {
  padding: 50px 0 60px 0;
}

.header .title {
  font-size: calc(.9vw + 33px);
  font-weight: 400;
}

.header .robot {
  width: 180px;
  position: absolute;
  bottom: -58px;
  left: 0px;
}

.header::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-color: rgba(18, 56, 100, 0.3);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F1F7), to(#8199F7));
  background-image: linear-gradient(to bottom, #F0F1F7, #8199F7);
  height: calc(100% - 40px);
}

.about_sec .inner {
  background-color: #F4F4F4;
  border-radius: 0 0 100px 0;
}

.about_sec .inner .img_box {
  border-radius: 0 0 100px 0;
  height: 100%;
  overflow: hidden;
}

.about_sec .inner .txt_box {
  padding: 50px 0vw;
  -webkit-padding-end: 2vw;
          padding-inline-end: 2vw;
}

.about_sec .inner .txt_box .title {
  font-size: calc(35px + .6vw);
  font-weight: 500;
}

.about_sec .inner .txt_box .p {
  font-size: 14px;
  text-align: justify;
  color: #333;
}

.about_sec .inner .txt_box .emi_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_sec .inner .txt_box .emi_box .emi_logo {
  width: 70px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
}

.about_sec .inner .txt_box .emi_box .emi_title {
  font-size: 16px;
  color: var(--primary);
  line-height: 1.5;
}

.vision_sec .inner {
  background-color: #F4F4F4;
  border-radius: 100px 0 0 100px;
  padding: 100px 5vw 50px 5vw;
}

.vision_sec .inner .title {
  font-size: calc(35px + .6vw);
  font-weight: 500;
}

.vision_sec .inner .vision_card {
  position: relative;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vision_sec .inner .vision_card .icon_box {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #290B66;
  background-color: #DFE7FF;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  font-size: 22px;
}

.vision_sec .inner .vision_card .txt_box {
  width: calc(100% - 85px);
  padding-top: 15px;
}

.vision_sec .inner .vision_card .txt_box .label {
  color: #6084FC;
  font-size: 18px;
}

.vision_sec .inner .vision_card .txt_box .p {
  font-size: 13px;
  line-height: 1.6;
  color: #290B66;
}

.vision_sec .inner .vision_card .txt_box .p::first-letter {
  text-transform: capitalize;
}

.about_sec2 .txt_box .title {
  font-size: 40px !important;
  line-height: 1.5;
}

.partners_sec .inner {
  border-radius: 0 100px 100px 0;
  background-color: #F4F4F4;
  padding: 50px 3vw;
}

.partners_sec .inner .partnerLogo {
  max-width: 85%;
  height: 50px;
  margin: auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.team_sec .sec_head .title {
  font-size: calc(35px + .6vw);
}

.team_sec .team_card {
  position: relative;
  margin-bottom: 25px;
}

.team_sec .team_card .avatar {
  height: 170px;
  width: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
}

.team_sec .team_card .card-body .name {
  font-weight: 400;
  font-size: .8rem;
}

.team_sec .team_card .card-body .job {
  font-size: 1rem;
}

.team_sec .team_card .card-body .social_link {
  width: 30px;
  height: 30px;
  background-color: #59aae7;
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.team_sec .team_card .card-body .social_link:hover {
  background-color: var(--primary);
  color: #fff !important;
}

.partners_sec2 .inner {
  border-radius: 100px 0 0 100px;
  background-color: #F4F4F4;
  padding: 40px 3vw;
}

.partners_sec2 .inner .partnerLogo {
  max-width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

.banner_sec .inner {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 40px;
  background-color: var(--primary);
  background-image: -webkit-gradient(linear, left top, right top, from(#1300FD), to(#6084FC));
  background-image: linear-gradient(to right, #1300FD, #6084FC);
  position: relative;
  margin-top: 200px;
}

.banner_sec .inner .text_box {
  position: relative;
  z-index: 5;
}

.banner_sec .inner .text_box .title {
  font-size: calc(1vw + 30px);
  font-weight: 400;
  line-height: 1.5;
}

.banner_sec .inner .text_box h5 {
  font-weight: 400;
}

.banner_sec .inner .text_box .butn {
  width: 150px;
  height: 50px;
}

.banner_sec .inner .robot {
  position: absolute;
  inset-inline-end: 0;
  bottom: 0;
  width: 35%;
  -o-object-fit: contain;
     object-fit: contain;
}

/**********************************************
    Start Edit pg-header
**********************************************/
/**********************************************
    Start Edit another Page 
**********************************************/
/**********************************************
    Start Edit another Page 
**********************************************/
/**********************************************
    Start Edit another Page 
**********************************************/
/**********************************************
    Start Edit Media screens 
**********************************************/
@media screen and (max-width: 991px) {
  .order_md_1 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .navs-container .navbar .nav-link::after {
    display: none;
  }
  .header .col-lg-7 .title {
    -webkit-margin-start: 90px;
            margin-inline-start: 90px;
  }
  .header .robot {
    width: 100px;
    left: 50px;
  }
  .about_sec .inner .txt_box {
    padding: 50px 20px;
  }
  .about_sec .txt_box .title,
  .vision_sec .inner .title,
  .team_sec .sec_head .title,
  .banner_sec .inner .title {
    font-size: 30px !important;
  }
  .banner_sec .inner {
    margin-top: 0;
    padding: 50px 25px;
  }
  .banner_sec .inner h5 {
    font-size: 16px;
  }
  .banner_sec .inner .robot {
    width: 30%;
  }
  .team_sec .team_card .avatar {
    height: 130px;
    width: 130px;
  }
  .team_sec .team_card .card-body .job {
    font-size: .8rem;
  }
  .slide_rtl,
  .slide_ltr {
    -webkit-transition: all .8s ease-in-out;
    transition: all .8s ease-in-out;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
}

/**********************************************
    Start Edit EN direction 
**********************************************/
html[dir="ltr"] {
}

html[dir="ltr"] body {
  direction: ltr;
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=style.css.map */